{% extends 'layout.html.twig'%}

{% block title %}{% endblock %}

{% block content %}
    <h1>Categorys</h1>
    <ul>
        {% for category in categorys %}
            <li>{{ category.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
