{% extends 'layout.html.twig'%}
{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <h1>Item : {{ categorys.title }}</h1>
         <ul>
            <li>Id :{{ categorys.id }} </li>
         </ul>
    <a href='/category'>Back to list</a>
{% endblock %}